<nav class="navbar navbar-expand-lg navbar-light bg-light bcg">
  <!-- <a class="navbar-brand" routerLink="home">CHAMPION MOVIES</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="campeao"  >Sobre os filmes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="campeonato"  >Sobre o campeonato</a>
      </li>
    </ul>

  </div> -->
</nav>
